[user]
	email = tom.francois@lapp.in2p3.fr
	name = Tom François
	
[core]
attributesfile = ~/.gitattributes_global
	editor = vim

# This clean filter is used to remove outputs and metadata from commit in notebooks (.ipynb)
# 'clean' is only applied on files defined in .gitattributes_global
# Note: this is currently set off
[filter "nbstrip_full"]
clean = "jq --indent 1 \
        '(.cells[] | select(has(\"outputs\")) | .outputs) = []  \
        | (.cells[] | select(has(\"execution_count\")) | .execution_count) = null  \
        | .metadata = {\"language_info\": {\"name\": \"python\", \"pygments_lexer\": \"ipython3\"}} \
        | .cells[].metadata = {} \
        '"
smudge = cat
required = true

[includeIf "gitdir:~/perso/"] 
  path = .gitconfig-perso
[includeIf "gitdir:~/repos/github.com/"] 
  path = .gitconfig-github
[includeIf "gitdir:~/repos/gitlab.com/"] 
  path = .gitconfig-gitlab
[init]
	defaultBranch = main
